<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit person</title>
</head>
<body>

<form th:method="POST"
      th:action="@{/people/{id}(id=${editedPerson.getId()})}"
      th:object="${editedPerson}"
>
    <label for="input-name">Enter the name of edited person</label>
    <input
            id="input-name"
            th:field="*{name}"
            type="text"
    />
    <br/>
    <input type="submit" value="Push the button to edit person" />
</form>

</body>
</html>